<div style="color:#333; margin:auto; font-size:18px; font-family:sans-serif; width:100%; background-color:#fff;">
    <h2 style="color:#fff; font-size:30px; background-color:#0ad; padding:25px 30px; margin:0; vertical-align:middle;">{{ job.name }}</h2>
    <div style="display:block; padding:30px;">
        <span style="display:block; margin-bottom:40px">A value on your page <b><a href="{{ job.url|safe }}" style="color:#07a;">{{ job.url }}</a></b> changed.</span>
        <span style="display:block;">It was:</span>
        <span style="display:block; border-left:2px solid #f13800; background-color:#fff4f1; padding:5px 10px; margin:15px 25px 35px;">{{ oldValue }}</span>
        <span style="display:block;">It is now:</span>
        <span style="display:block; border-left:2px solid #33aa4e; background-color:#f4fcf6; padding:5px 10px; margin:15px 25px 35px;">{{ newValue }}</span>
    </div>
    <div style="display:block; font-size:13px; padding:15px; text-align:center; font-weight:bold; border-top: 1px solid #aaa;">
        <a href="{{ domain }}" style="color:#07a;">WebMonitor</a> &#8226; <a href="https://github.com/janka102/webmonitor" style="color:#07a;">Source on GitHub</a> &#8226; <a href="{{ domain }}/stop/{{ job.stopKey }}" style="color:#07a;">Stop monitoring this value</a>
    </div>
</div>
