<div style="color:#212121; margin:auto; font-size:18px; font-family:sans-serif; width:100%; background-color:#fff;">
  <h2 style="color:#FFF; font-size:24px; background-color:#2196F3; padding:25px 30px; margin:0; vertical-align:middle; border-bottom: 5px solid #1976D2;">{{ job.title }}</h2>
  <div style="padding:30px;">
    <p style="margin:0 0 40px;">A value on your page <a href="{{ job.url }}" style="color:#009688;">{{ job.url }}</a> changed.</p>
    <p style="margin:0;">It was:
      <span style="display:block; border-left:2px solid #FF5252; background-color:#F5F5F5; padding:5px 10px; margin:10px 25px 35px;">{{ oldValue }}</span>
    </p>
    <p style="margin:0;">It is now:
      <span style="display:block; border-left:2px solid #00C853; background-color:#F5F5F5; padding:5px 10px; margin:10px 25px 35px;">{{ newValue }}</span>
    </p>
  </div>
  <p style="font-size:15px; margin:0; padding:15px; text-align:center; border-top: 1px solid #9e9e9e; background-color: #e0e0e0;">
    <a href="{{ domain }}" style="color:#009688; text-decoration:none;">Monitor more values</a> &bull; <a href="https://github.com/janka102/webmonitor" style="color:#009688; text-decoration:none;">Source on GitHub</a> &bull; <a href="{{ domain }}/manage/{{ job.id }}" style="color:#009688; text-decoration:none;">Manage this monitored value</a>
  </p>
</div>
