{% extends "layout.html" %} {% block body %}
<h2>Submit a value to monitor</h2>

<form name="schedule" action="/monitor" method="post">
  <div class="form-group">
    <input id="title" name="title" type="text" required>
    <label for="title" class="input-label" data-placeholder="My Awesome Value">Title</label>
  </div>

  <div class="form-group">
    <input id="url" name="url" type="text" required>
    <label for="url" class="input-label" data-placeholder="http://example.com">URL</label>
  </div>

  <div class="form-group">
    <div class="group-title">Interval</div>

    <ul class="select-group">
      <li>
        <input id="sunday" name="sunday" type="checkbox">
        <label for="sunday">Sun</label>
      </li>
      <li>
        <input id="monday" name="monday" type="checkbox">
        <label for="monday">Mon</label>
      </li>
      <li>
        <input id="tuesday" name="tuesday" type="checkbox">
        <label for="tuesday">Tue</label>
      </li>
      <li>
        <input id="wednesday" name="wednesday" type="checkbox">
        <label for="wednesday">Wed</label>
      </li>
      <li>
        <input id="thursday" name="thursday" type="checkbox">
        <label for="thursday">Thu</label>
      </li>
      <li>
        <input id="friday" name="friday" type="checkbox">
        <label for="friday">Fri</label>
      </li>
      <li>
        <input id="saturday" name="saturday" type="checkbox">
        <label for="saturday">Sat</label>
      </li>
    </ul>
    <div class="time-picker">
      <label>
        Hours:
        <input name="hours" id="hours" type="number" min="0" max="23" value="0">
      </label>
      <label>
        Minutes:
        <input name="minutes" id="minutes" type="number" min="0" max="59" value="25">
      </label>
      {% if not production %}
      <label>
        Seconds:
        <input name="seconds" id="seconds" type="number" min="0" max="59" value="0">
      </label>
      {% endif %}
    </div>
    <span id="intervalDisplay"></span>
  </div>

  <div class="form-group">
    <div class="group-title">Selector Mode</div>

    <ul class="select-group">
      <li>
        <input id="query-mode" name="mode" type="radio" value="query" checked>
        <label for="query-mode">Query</label>
      </li>
      <li>
        <input id="regex-mode" name="mode" type="radio" value="regex">
        <label for="regex-mode">Regex</label>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <input id="selector" name="selector" type="text" required>
    <label for="selector" class="input-label" data-placeholder="#selector or R(e)g\1x">Selector</label>
  </div>

  <button id="submit" type="submit">Monitor</button>
</form>
{% endblock %}