{% set title = "Manage " + job.title %}
{% extends "layout.html" %}

{% block body %}
<h2>{{ job.title }}</h2>

<div class="action-buttons">
  <button id="pause-button"{{ ' hidden' if job.paused }}>Pause</button>
  <button id="resume-button"{{ ' hidden' if not job.paused }}>Resume</button>
  <button id="delete-button">Delete</button>
</div>

<table>
  <thead>
    <tr>
      <th>time</th>
      <th>value</th>
      <th>kind</th>
    </tr>
  </thead>
  <tbody>
    {% for value in job.values | sort(job.values, false, false, 'time') %}
    <tr>
      <td class="job-time">{{ value.time }}</td>
      <td class="job-value">{{ value.value }}</td>
      <td class="job-kind">{{ value.kind }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}