<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>WebMonitor - Stop {{ job.name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/spinner.css">
    <link rel="stylesheet" href="/stop.css">
</head>

<body>
    <div class="wrap">
        <header>
            <h1>
                WebMonitor
                <small>Monitor values on the web, and get emailed when they change</small>
            </h1>
        </header>
        <div class="container">
            <h2>Confirm to stop "<b>{{ job.name }}</b>"</h2>
            <p>
                You are about to stop monitoring a value on <a href="{{ job.url|safe }}">{{ job.url }}</a>.
            </p>
            <button id="stop">STOP</button>
        </div>
    </div>

    <footer>
        <div class="container">
            <a href="{{ domain|safe }}">Monitor more values</a> •
            <a href="https://www.github.com/janka102/webmonitor">Source on GitHub</a>
        </div>
    </footer>

    <div id="dialog">
        <div class="modal">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
            <div class="message">
                Processing...
            </div>
        </div>
    </div>

    <script src="/atomic.min.js"></script>
    <script src="/stop.js"></script>
</body>

</html>
