table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2rem;
}

thead {
  border-bottom: 1px solid #d0d0d0;
}

td,
th {
  padding: 0.75rem 0.5rem;
  text-align: left;
}

tbody tr:nth-child(2n - 1) {
  background-color: rgba(158, 158, 158, 0.2);
}

tbody tr.error-value {
  background-color: #ffcdd2;
  color: #b71c1c;
}

.action-buttons button {
  display: inline-block;
  border: none;
}

#disable-button {
  background-color: #fdd835;
}

#disable-button:hover {
  background-color: #ffeb3b;
}

#enable-button {
  background-color: #2196f3;
  color: white;
}

#enable-button:hover {
  background-color: #42a5f5;
}

#delete-button {
  background-color: #f44336;
  color: white;
}

#delete-button:hover {
  background-color: #e53935;
}
