.form-field {
    position: relative;
    display: block;
    margin: 2rem 0;
    padding-top: 1rem;
}
.field-title {
    font-size: 1rem;
    display: block;
}
input, select {
    color: #212121;
    font-size: 0.8rem;
    padding: 0.4em;
    border-style: solid;
    border-width: 0;
    border-color: #9E9E9E;
    border-bottom-width: 1px;
    transition: border-color 300ms;
    background-color: #FFF;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    border: none;
    border-bottom: 1px solid #9E9E9E;
    border-radius: 0;
    margin-top: 1.5rem;
    width: 10rem;
    cursor: pointer;
}
select + label {
    position: absolute;
    top: 1rem;
    left: 0;
}
select + label::before, select + label::after {
    position: absolute;
    content: " ";
    left: 9rem;
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
select + label::before {
    top: 1.95em;
    border-bottom: 6px solid #9E9E9E;
}
select + label::after {
    top: 2.45em;
    border-top: 6px solid #9E9E9E;
}
select, button {
    font-family: inherit;
}
input:focus, select:focus {
    outline: none;
    border-color: #009688;
    border-bottom-width: 2px;
    margin-bottom: -1px !important; /*TODO: figure out how to not use !important here*/
}
input[type="text"], input[type="url"], input[type="email"] {
    width: 18em;
}
input[type="number"] {
    width: 2.5em;
}
input[type="checkbox"] {
    outline: auto;
}
input:-moz-ui-invalid {
    box-shadow: none;
}
input.has-text:invalid + .input-label, input.has-text:-moz-ui-invalid + .input-label {
    color: #F44336;
}
input.has-text:invalid, input.has-text:-moz-ui-invalid {
    border-color: #F44336;
}
input + .input-label {
    pointer-events: none;
    width: 18em;
}
input + .input-label {
    position: absolute;
    top: 1rem;
    left: 0;
    transition: all 150ms;
}
input + .input-label::before {
    position: absolute;
    content: attr(data-placeholder);
    top: 1.3rem;
    left: 0.5em;
    font-size: 0.8rem;
    color: transparent;
    transition: color 75ms;
}
input.no-text:focus + .input-label::before {
    color: #BDBDBD;
}
input:focus + .input-label {
    color: #009688;
}
input:focus + .input-label, input.has-text + .input-label {
    top: 0;
    font-size: 0.75rem;
}
input:focus + .input-label::before, input.has-text + .input-label::before {
    color: transparent;
}
.picker input {
    margin: 0.4em auto 0;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
ul li {
    display: inline-block;
    text-align: center;
    padding: 5px 10px 5px 0;
    min-width: 40px;
    min-height: 40px;
}
#intervalDisplay {
    display: block;
    margin-top: 0.5em;
    font-size: 0.9rem;
    color: #616161;
}
#submit {
    font-size: 1rem;
    padding: 0.5em 1em;
    background-color: #eee;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 3px;
    transition: background-color 300ms;
}
#submit:hover, #submit:focus {
    cursor: pointer;
    background-color: #ddd;
}
#submit:active {
    background-color: #ccc;
}
