[hidden] {
    display: none;
}
html {
    font-size: 18px;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    color: #212121;
}
html, body {
    height: 100%;
}
.container, header h1 {
    max-width: 650px;
    margin: 0 auto;
}
.container {
    padding: 0 2rem;
}
header h1 {
    margin: 1em auto;
}
header {
    background-color: #2196F3;
    padding: 1em 2em;
    border-bottom: 5px solid #1976D2;
    color: #FFF;
    font-size: 1.125rem;
}
h1 small {
    display: block;
    margin-top: 0.5em;
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.7);
}
h2 {
    font-weight: 400;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 5px;
}
a {
    color: #009688;
    text-decoration: none;
    outline: none;
}
a:hover, a:focus {
    color: #00796B;
    text-decoration: underline;
}
button {
    outline: none;
}
.wrap {
    min-height: 100%;
    margin-bottom: -59px;
}
.wrap::after {
    content: "";
    display: block;
    margin-top: 2.5rem;
}
footer, .wrap::after {
    height: 59px;
}
footer {
    box-sizing: border-box;
    background-color: #E0E0E0;
    padding: 20px 30px;
    border-top: 1px solid #9E9E9E;
    text-align: center;
    font-size: 0.8rem;
}
#dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: background-color 250ms;
    pointer-events: none;
}
#dialog.show {
    background-color: rgba(225, 225, 225, 0.74);
    pointer-events: auto;
}
#dialog .modal {
    position: relative;
    background-color: #FFF;
    width: 250px;
    margin: auto;
    margin-top: 0;
    padding: 3rem;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    opacity: 0;
    transition: opacity 200ms, margin-top 200ms ease-in-out;
}
#dialog.show .modal {
    opacity: 1;
    margin-top: 20vh;
}
